<h1>Editing Notification</h1>

<%= render 'form' %>

<%#= link_to 'Show', @notification %>
<div class="roundButton backLink">
  <%= link_to 'Back To Festival', Festival.find($current_festival_id) %>
</div>