<h1>Listing Days</h1>

<% @days.each do |day| %>
    <p><%= day.date %></p>
    <p><%= day.opening_time %></p>
    <p><%= day.closing_time %></p>
    <%= link_to 'Destroy', [Festival.find(day.festival_id), day], confirm: 'Are You Sure?', method: :delete %>
<% end %>

<br />
