<h1>Listing Stages</h1>

<% @stages.each do |stage| %>

    <p><%= stage.name %></p>
    <%= link_to 'Destroy', [Festival.find(stage.festival_id), stage], confirm: 'Are You Sure?', method: :delete %>
<% end %>
